extends layout

block content
  h1 Autocomplete
  div(id="j_id0:j_id1:leadPB:PropertyInformation:j_id37")
    div
      label Street
      textarea(id='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id38' name='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id38')
      br

      label City
      input(type='text' id='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id40' name='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id40')
      br

      label State
      select(type='text' id='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id42' name='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id42')
        option(value='')
        option(value='Alabama') Alabama
        option(value='Alaska') Alaska
        option(value='Arizona') Arizona
        option(value='Arkansas') Arkansas
        option(value='California') California
      br

      label Zip Code
      input(type='text' id='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id44' name='j_id0:j_id1:leadPB:PropertyInformation:j_id37:j_id44')

  script.
    var doc = document.getElementsByTagName('head')[0],
        tag = document.createElement('script'),
        src = '';
    if (window.location.href.indexOf('localhost') >= 0) {
      src = 'http://localhost:3000/public/javascripts/asynchronousInitializer.js';
    } else {
      src = '//address-autocomplete.herokuapp.com/public/javascripts/asynchronousInitializer.js';
    }
    tag.setAttribute('type', 'text/javascript');
    tag.setAttribute('src', src);
    tag.onload = function() {
      window.initAddressAutocomplete();
    }
    doc.appendChild(tag);
