extends layout

block content
  h1 Autocomplete
  div(id="j_id0:j_id1:leadPB:AddressInformationPBS")
    label Street
    textarea(id='j_id0:j_id1:leadPB:AddressInformationPBS:j_id7' name='j_id0:j_id1:leadPB:AddressInformationPBS:j_id7')
    br

    label City
    input(type='text' id='j_id0:j_id1:leadPB:AddressInformationPBS:j_id9' name='j_id0:j_id1:leadPB:AddressInformationPBS:j_id9')
    br

    label State
    select(type='text' id='j_id0:j_id1:leadPB:AddressInformationPBS:j_id11' name='j_id0:j_id1:leadPB:AddressInformationPBS:j_id11')
      option(value='')
      option(value='Alabama') Alabama
      option(value='Alaska') Alaska
      option(value='Arizona') Arizona
      option(value='Arkansas') Arkansas
      option(value='California') California
    br

    label Zip Code
    input(type='text' id='j_id0:j_id1:leadPB:AddressInformationPBS:j_id13' name='j_id0:j_id1:leadPB:AddressInformationPBS:j_id13')
    br

  script.
    var doc = document.getElementsByTagName('head')[0],
        tag = document.createElement('script'),
        src = '';
    if (window.location.href.indexOf('localhost') >= 0) {
      src = 'http://localhost:3000/public/javascripts/asynchronousInitializer.js';
    } else {
      src = '//address-autocomplete.herokuapp.com/public/javascripts/asynchronousInitializer.js';
    }
    tag.setAttribute('type', 'text/javascript');
    tag.setAttribute('src', src);
    tag.onload = function() {
      window.initAddressAutocomplete();
    }
    doc.appendChild(tag);
