body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status-parameter {
  font-size: 60px;
}
.status-symbol {
  font-size: 80px;
  position: relative;
  top: 5px;
}
