body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding: 8px 10px 0;
}
input, select {
  margin: 2px 0 6px;
}
