body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#autocomplete-holder {
  border: 1px solid #ccc;
  padding: 6px 4px 4px;
  width: 800px;
  box-shadow: inset 1px 1px 6px #eaeaea;
}
